burgerownia {
	background-color: #2E2E2E;
    font-family: Lato, serif;
}

metadane {
    background-color: #8C8C8C;
	display: block;
    font-family: Lucida Console, monaco, monospace;
	margin: 5px;
	text-align: center;
	border-style: solid;
	border-color: white;
	border-width: 2px;
}

lista_alergenów, lista_składników {
	display: none;
}

autor, korektor, data_modyfikacji {
	display: block;
	font-weight: bold;
	color: #FEE501;
}

burger, nazwa, cena, kaloryczność {
	display: block;
}

burger {
    background-color: #404040;
	margin: 5% 10% 5% 10%;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	
}

cena, kaloryczność {
	margin: 5px 3px 3px 3px;	
	color: white;
}

burger:after {
	margin: 5px 3px 3px 3px;
	color: white;
	content: "Status mięsa: " attr(mięsność);
}

nazwa {
	color: #FEE501;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 20px;
	text-align: center;
}

alergen {
	font-style: italic;
}

cena:before {
	content: "Cena: ";
	color: white;
}

cena {
	font-weight: bold;
	color: white;
}

cena:after {
	content: " "attr(waluta);
	color: white;
}

kaloryczność:after {
	content: " "attr(jednostka);
	color: white;
}

kaloryczność:before {
	content: "Kaloryczność: ";
	color: white;
}
